<h1>New Article</h1><br>
<form action="/books" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %> 
    <br><button type="submit" class="cta">Create</button><br>
    <a href="/books" class="cta">Cancel</a>
</form>