<header class="home-header">
    <div id="topHeader" style="width: 100%;">
        <div class="logo" style="width: 50%; height: 100px; float: left;"> 
            <a href="https://serl.aut.ac.nz/"></a>
        </div>
        <div style="margin-left: 50%; height: 100px; padding-left: 41%;"> 
            <a href="https://www.aut.ac.nz/"><img src="https://library.aut.ac.nz/__data/assets/image/0004/24781/logo.jpg"></a>
        </div>
    </div>
    <div id="mainHeader">
        <div class="main">
                <ul class="nav-menu">
                    <nav id="mainNav">
                        <li><a href="/books/moderator">View Article Queue (Moderator)</a></li>
                        <li><a href="/books/new">Submit Article</a></li>
                        <li><a href="/books">Search Article</a></li>
                        <!-- <li><a href="/authors/new">Add Authors</a></li> -->
                        <!-- <li><a href="/authors">Authors</a></li> -->
                        <li><a href="/">Home</a></li>
                    </nav>
                </ul>
            
        </div>
    </div>
</header>