<!-- Home Page -->
<h2>Recently Added Articles</h2>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
</style>
<div>
    <table style="width: 100%;">
        <tr>
            <th>Article Title</th>
            <th>Description</th>
            <th>Publish Date</th>
        </tr>
        <% books.forEach(book => { %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.description %></td>
            <td><%= book.publishDate.toISOString().split('T')[0] %> </td>
        </tr>
        <% }) %> 
    </table> 
</div>