<!-- Home Page -->
<h1 style="font-size: 6rem;">SEER</h1>
<h4>Software Engineering Evidence Repository</h4><br>
<h2>Recently Added Articles</h2><br>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
</style>
<div>
    <table>
        <tr>
            <th>Publication Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>DOI</th>
            <th>Publication Date</th>
        </tr>
        <% books.forEach(book => { %>
        <tr>
            <td><%= book.title %></td>
            <td><i>Author..</i></td>
            <td><%= book.description %></td>
            <td><%= book.publishDate.toISOString().split('T')[0] %> </td>
            <td><%= book.createdAt.toISOString().split('T')[0] %> </td>
        </tr>
        <% }) %> 
    </table> 
</div>